# Static files
static/instructions
static/minifigs
static/parts
static/sets

# Docker
Dockerfile
compose.yaml

# Documentation
docs/
LICENSE
*.md
*.sample

# Temporary
*.csv

# Database
*.db
*.db-shm
*.db-wal

# Python
**/__pycache__
*.pyc

# Git
.git

# IDE
.vscode

# Dev
test-server.sh
