# Static files
static/instructions
static/minifigs
static/parts
static/sets

# Docker
Dockerfile
compose.yaml

# Local data directories
local/
offline/
data/

# Documentation
docs/
LICENSE
*.md
*.sample
.code-workspace

# Temporary
*.csv

# Database
*.db
*.db-shm
*.db-wal

# Python
**/__pycache__
*.pyc

# Git
.git

# IDE
.vscode

# Dev
test-server.sh

# Hidden folders
*.*
