# Application
.env
*.db

# Python specifics
__pycache__/
*.pyc

# Static folders
static/instructions/
static/minifigs/
static/parts/
static/sets/

# IDE
.vscode/

# Temporary
*.csv

# Apple idiocy
.DS_Store
