{% macro header(item, name, solo=false, identifier=none, icon='hashtag') %}
  <div class="card-header">
    {% if not solo %}
      <a class="text-decoration-none text-reset" href="{{ item.url() }}" data-bs-toggle="tooltip" title="{{ name }}">
    {% endif %}
    <h5 class="mb-0 {% if not solo %}fs-6 text-nowrap overflow-x-hidden text-truncate{% endif %}">
      {% if identifier %}<span class="badge text-bg-secondary fw-normal"><i class="ri-{{ icon }}"></i>{{ identifier }}</span>{% endif %}
      {% if item.fields.color_name %}
        <span class="badge bg-white text-black fw-normal border"><i class="ri-palette-line"></i>
          {% if item.fields.color_rgb %}
            <span class="color-rgb {% if item.fields.color == 9999 %}color-any{% endif %} align-bottom border border-black" {% if item.fields.color != 9999 %}style="background-color: #{{ item.fields.color_rgb }};"{% endif %}></span>
          {% endif %}
          {{ item.fields.color_name }}
        </span>
      {% endif %}
      {% if item.fields.color_transparent %}<span class="badge text-bg-light fw-normal border"><i class="ri-blur-off-line"></i> Transparent</span>{% endif %}
      {% if item.fields.print %}<span class="badge text-bg-light fw-normal border"><a class="text-reset" href="{{ item.url_for_print() }}"><i class="ri-paint-brush-line"></i> Print</a></span>{% endif %}
      {{ name }}
    </h5>
    {% if not solo %}
      </a>
    {% endif %}
  </div>
{% endmacro %}

{% macro image(item, solo=false, last=false, caption=none, alt=none, medium=none) %}
  {% set image_url=item.url_for_image() %}
  <div class="card-img border-bottom" style="background-image: url({{ image_url }})">
    <a {% if solo %}data-lightbox {% if caption %}data-caption="{{ caption }}"{% endif %} href="{{ image_url }}" target="_blank"{% else %}href="{{ item.url() }}"{% endif %}>
      <img {% if solo and medium %}class="card-medium-img"{% endif %}{% if last %}class="card-last-img"{% endif %} src="{{ image_url }}" {% if alt %}alt="{{ alt }}"{% endif %} loading="lazy">
    </a>
  </div>
{% endmacro %}
