{% macro checkbox(prefix, id, text, url, checked, delete=false) %}
  {% if g.login.is_authenticated() %}
    <input class="form-check-input" type="checkbox" id="{{ prefix }}-{{ id }}" {% if checked %}checked{% endif %}
        {% if not delete %}
          data-changer-id="{{ id }}" data-changer-prefix="{{ prefix }}" data-changer-url="{{ url }}" data-changer-parent="set"
        {% else %}
          disabled
        {% endif %}
    autocomplete="off">
    <label class="form-check-label" for="{{ prefix }}-{{ id }}">
      {{ text }} <i id="status-{{ prefix }}-{{ id }}" class="mb-1"></i>
    </label>
  {% else %}
    <input class="form-check-input text-reset" type="checkbox" {% if checked %}checked{% endif %} disabled>
    {{ text }}
  {% endif %}
{% endmacro %}
